* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    background-image: radial-gradient(#fff 5%, transparent 1%), radial-gradient(#fff 5%, transparent 1%);
    background-size: 20px 20px;
    background-position: 0 0, 7px 11px;
    color: #fff;
}

a {
    color: #fff;
}

#side-div {
    width: 150px;
    min-height: 500px;
    height: auto;
    margin-top: 10px;
    /*ブロックを横並び*/
    float: left;
    /*サイドバーを固定*/
    position: fixed;
    /* background-color: #009b9f; */
}

#main-div {
    margin-left: 160px;
    width: 100% - 160px;
    min-height: 500px;
    height: auto;
    /* background-color: #009b9f; */
    margin-top: 10px;
}


/* #side-div {
    width: 20%;
    height: 100vh;
    background-color: rgb(67, 128, 107);
}

#main-div {
    width: 70%;
    background-color: rgb(109, 79, 79);
} */

.counter {
    margin-right: 2px;
    box-shadow: 0 0 1px #fff inset;
    border: 1px solid #eee;
    padding: 2px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
    background: #4c4c4c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
    /* IE6-9 */
}